<div class="e-search-container">
  <div class="e-title-container">
    <h3 class="e-search-title m-4">{{ filterTitle }}</h3>
    <span class="verticalLine"></span> <span class="horizontalLine"></span>
    <h5 class="e-search-title-mini mt-5 ml-5">Search Filter</h5>
    <span class="mini-verticalLine"></span>
    <span class="mini-horizontalLine"></span>
  </div>

  <div class="e-input-container">
    <form [formGroup]="searchForm">
      <label class="e-label mt-4">ID NUMBER
        <i class="icon-info-sign" data-toggle="tooltip" title="Must be 7 characters" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="number"  etiyaInput="dark" formControlName="id" min="0" oninput="validity.valid||(value='');" onKeyPress="if(this.value.length==7) return false;"  
      #id/>

      <label class="e-label">CUSTOMER ID 
        <i class="icon-info-sign" data-toggle="tooltip" title="Must be 7 characters" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="number" etiyaInput="dark" formControlName="customerId" min="0" oninput="validity.valid||(value='');" onKeyPress="if(this.value.length==7) return false;" 
      #customerId/>

      <label class="e-label">ACCOUNT NUMBER
        <i class="icon-info-sign" data-toggle="tooltip" title="Positive number only" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="number" etiyaInput="dark" formControlName="accountNumber" min="0" oninput="validity.valid||(value='');" #accountNumber/>

      <label class="e-label">GSM NUMBER
        <i class="icon-info-sign" data-toggle="tooltip" title="Must be 11 characters" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="number" etiyaInput="dark" formControlName="gsmNumber" min="0" oninput="validity.valid||(value='');" onKeyPress="if(this.value.length==11) return false;" #gsmNumber/>

      <label class="e-label">FIRST NAME
        <i class="icon-info-sign" data-toggle="tooltip" title="Not just numbers and special characters" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="text" etiyaInput="dark" formControlName="firstName" #firstName />

      <label class="e-label">LAST NAME
        <i class="icon-info-sign" data-toggle="tooltip" title="Not just numbers and special characters" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="text" etiyaInput="dark" formControlName="lastname"  #lastName/>

      <label class="e-label">ORDER NUMBER
        <i class="icon-info-sign" data-toggle="tooltip" title="Positive number only" id='example' >
          <img src="../../../../assets/img/info.png" width="20" height="20">
        </i>
      </label>
      <input type="text" etiyaInput="dark" formControlName="orderNumber" min="0" oninput="validity.valid||(value='');" #orderNumber/>
    </form>
  </div>
  <div class="e-btn-container">
    <button type="button" etiyaButton="clear" (click)="clear()">CLEAR</button>
    <button type="button" etiyaButton="search" (click)="search()" [disabled]="
    id.value.length === 0 &&
    customerId.value.length === 0 &&
    accountNumber.value.length === 0 &&
    gsmNumber.value.length === 0 &&
    firstName.value.length === 0 &&
    lastName.value.length === 0 &&
    orderNumber.value.length === 0
  ">
      SEARCH<img
        etiyaButton="img-search"
        src="../assets/img/search-btn-logo.png"
      />
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <button
      etiyaButton="create"
      routerLink="/dashboard/customers/create-customer"
    >
      <img
        etiyaButton="create-logo"
        src="../../../../assets/img/create_btn_logo.png"
      />Create Customer
    </button>
  </div>
</div>
